                <footer class="footer">
                    <div class="mastfoot">
                      <div class="inner">
                        <p>Cover template by {{ nombre }}</p>
                      </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
