{{> head }}

{{> menu }}

<div class="row">
    <div class="col-xs-8 text-center">
        <h1>Capitan America</h1>
    </div>
    
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
    
    <div class="col-xs-4 text-center">
        <img src="assets/img/capamerica.jpg" class="img-thumbnail"></img>
    </div>

</div>


{{> footer }}